body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "ヒラギノ角ゴ Pr2cb696oN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif !important;
    margin: 20px 20px;
}
:root {
    --text-title-color: #222;
    /* --text-body-color */
    --text-body-color-light: #787c7b;
}
a {
    color: #0645ad;
    text-decoration: none;
}

a:visited {
    color: #0b0080;
}

a:hover {
    color: #06e;
}

a:active {
    color: #faa700;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

::-moz-selection {
    background: rgba(255, 255, 0, 0.3);
    color: #000;
}

::selection {
    background: rgba(255, 255, 0, 0.3);
    color: #000;
}

a::-moz-selection {
    background: rgba(255, 255, 0, 0.3);
    color: #0645ad;
}

a::selection {
    background: rgba(255, 255, 0, 0.3);
    color: #0645ad;
}

p {
    margin: 1em 0;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: var(--text-title-color);
    line-height: 1em;
}


h1 {
    font-size: 36px;
}

h2 {
    font-size: 33px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 21px;
}

h6 {
    font-size: 16px;
}

blockquote {
    color: #666666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
}

pre,
code,
kbd,
samp {
    color: #000;
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 0.98em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 2em;
}

li p:last-child {
    margin: 0;
}

dd {
    margin: 0 0 0 2em;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}



/*
フォント名は Win と Mac で少しだけ異なる。
Windows: "游ゴシック", "Yu Gothic"
Mac: "游ゴシック体", "YuGothic"
*/
@font-face {
    font-family: "YuGothic M";
    src: local("Yu Gothic Medium"),
       local("Yu Gothic");
    font-weight: 500;
   /*
     Chrome 58.0.3029.110 (64-bit) では
     "Yu Gothic Medium" を認識しないバグあるため
     "Yu Gothic" と font-weight も併せて指定。
   */
}

p {
    font-family: "游ゴシック体", YuGothic, "YuGothic M", sans-serif;
}
